@use '../../abstracts/' as *;

:host {
  @include flex-col;

  label {
    color: get-color('text-sub');
    font-size: $font-size-xs;
    padding: 0 4px;
    transition: color $speed-base;
  }

  input {
    border: none;
    border-bottom: 1px solid get-color('divider');
    outline: none;
    padding: 4px;
    transition: border-color $speed-base;

    &:active,
    &:focus {
      border-bottom: 1px solid get-color('primary');
    }
  }
}

:host(:focus-within) {
  label {
    color: get-color('primary');
  }
}
