@use '../../abstracts/' as *;

.super-button {
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  @each $theme in ('primary', 'danger') {
    &.#{$theme} {
      &.outline {
        background: none;
        border: 1px solid get-color($theme);
        color: get-color($theme);
      }

      &:not(.outline) {
        background-color: get-color($theme);
        border: none;
        color: get-color('text-alt');
      }
    }
  }

  ::slotted([slot='icon']) {
    height: 16px;
    margin-right: 8px;
  }
}
