@use '../../abstracts/' as *;

:host {
  @include grid(0.5rem 1rem);
  @include grid-areas('memo-title', 'memo-text', 'memo-delete');

  grid-template-areas:
    'memo-title memo-delete'
    'memo-text memo-delete';
  grid-template-columns: 1fr 80px;
  background-color: get-color('bg-content');
  border-radius: 4px;
  // https://codepen.io/sdthornton/pen/wBZdXq
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  justify-content: space-between;
  padding: 8px;
}

.memo-title {
  color: get-color('text');
  font-size: 14px;
}

.memo-text {
  @include text-ellipsis(2);
  color: get-color('text-sub');
  font-size: 12px;
}
