@use '../../abstracts/' as *;

:host {
  display: inline-block;
}

.super-button {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 100%;

  @include on-hover {
    cursor: pointer;
  }

  @each $theme in ('primary', 'danger') {
    &.#{$theme} {
      &.outline {
        background: none;
        border: 1px solid get-color($theme);
        color: get-color($theme);
      }

      &:not(.outline) {
        background-color: get-color($theme);
        border: none;
        color: get-color('text-alt');
      }
    }
  }

  ::slotted([slot='icon']) {
    height: 16px;
    margin-right: 8px;
  }

  &[disabled] {
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.5);
    }

    @include on-hover {
      cursor: not-allowed;
    }
  }
}

.content {
  display: inline-block;
  width: 100%;
}
