@use '../../abstracts/' as *;

:host {
  display: block;

  & > * {
    width: 100%;
  }
}

.empty {
  background-color: yellowgreen;
}

.memos-title {
  color: get-color('primary');
  font-weight: bold;
  padding: 8px;
}

.super-memo-item {
  margin-top: 8px;

  &:last-of-type {
    margin-bottom: 8px;
  }
}
