@use "../styles/index" as wcl;

:host {
  display: inline-block;
  max-width: 500px;
  width: 100%;
}

.memo-title {
  color: wcl.get-color('text');
  font-size: 18px;
}

.memo-text {
  color: wcl.get-color('text');
  font-size: 14px;
}

.memo-actions {
  border-top: 1px solid #aaa;
  display: flex;
  flex-direction: row-reverse;
  padding: 4px 0;
}
