:host {
  display: inline-block;
}

$rhythm: 8px;
$speed: 250ms;

.super-button {
  // ---------- Main styling --------------------------------------------------
  align-items: center;
  border: 1px solid #23232339; // Also to test PostCSS
  border-radius: $rhythm;
  display: flex;
  flex-direction: row;
  padding: $rhythm 2 * $rhythm;
  position: relative;
  transition: background-color $speed;
  width: 100%;

  &::before {
    background-color: transparent;
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color $speed;
  }

  &:hover {
    cursor: pointer;

    &::before {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  // ---------- Themes --------------------------------------------------------
  &.primary {
    background-color: var(--wcl-primary, rebeccapurple);
    color: white;
  }

  &.danger {
    background-color: var(--wcl-danger, crimson);
    color: white;
  }

  // ---------- Disabled ------------------------------------------------------
  &[disabled] {
    &::before {
      background-color: rgba(255, 255, 255, 0.25);
    }

    &:hover {
      cursor: not-allowed;
    }
  }
}
