$primary: #8e24aa;
$primary-light: #8e24aa;
$primary-dark: #6a1b9a;
$danger: red;
$danger-light: lightpink;
$danger-dark: darkred;

$text: #232323;
$text-sub: #5f5f5f;
$text-alt: #efefef;
$bg-content: #f9faff;
$bg-input: grey;
$bg-app: #a1a2a1;

$divider: #dedede;
